<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="golbang.com.bluled" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main_phone"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceListActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"/>

    </application>

    <!-- Service -->
    <service
        android:name= "golbang.com.bluled.Service.BluetoothLEDService"
        android:icon="@drawable/ic_launcher"
        android:label= "@string/service_name" >
    </service>

    <service android:name="com.golbang.com.bluled.Service.NotificationReceiverService"
        android:label="@string/noti_receiver_name"
        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
        <intent-filter>
            <action android:name="android.service.notification.NotificationListenerService" />
        </intent-filter>
    </service>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

</manifest>
